.env
.venv/
venv/
node_modules/
*.pkl
*.joblib
RandomForest/*.joblib
classifier/classifier/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# SSL certificates
*.pem
*.key
certificate.py
dataset/
*.csv
__pycache__/
*.pyc